<h1>Manager's panel</h1>
<div class="welcome-message">
  <h2>Welcome!</h2>
  <p>Please choose a section to manage:</p>
  <ul>
    <li><span>Stations</span>: Manage all the stations in the system.</li>
    <li><span>Routes</span>: View and edit available train routes.</li>
    <li><span>Carriages</span>: Set up train carriages and seat information.</li>
  </ul>
</div>
<h2>Statistics:</h2>
<ul class="statistics">
  <li>
    <div class="statistic-name"><mat-icon>place</mat-icon>Total Stations:</div>
    <div class="statistic-data">{{ totalStations }}</div>
  </li>
  <li>
    <div class="statistic-name"><mat-icon>route</mat-icon>Total Routes:</div>
    <div class="statistic-data">{{ totalRoutes }}</div>
  </li>
  <li>
    <div class="statistic-name"><mat-icon>train</mat-icon>Total Carriages</div>
    <div class="statistic-data">{{ totalCarriages }}</div>
  </li>
</ul>
